.card {
    display: flex;
    box-shadow: 2px 3px 10px 0px rgb(0 0 0 / 20%);
    border-radius: 3px;
    height: 270px;
    width: 450px;
}

.card__description {
    padding: 20px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}


.card__title {
    font-size: 20px;
    padding-right: 15px;
    margin-bottom: 0;
    /* white-space: nowrap;
    position: absolute;
    transform: translateX(0);
    transition: 4s linear; */
    -webkit-line-clamp: 1; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
}

.card__rating {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #E9D100;
}

.card__date {
    color: #827E7E;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
}

.card__overview {
    font-size: 12px;
    line-height: 22px;
    /* padding: 1px; */
    max-height: 100px;
    margin-bottom: 0;
    -webkit-line-clamp: 3; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
}

.card__genre {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 2px 5px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.card__genre-container {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 450px) {
    .card {
      flex-direction: column;
      height: auto;
    }
    .card__image {
        margin: 0 auto;
    }
  }