.wrapper {
    margin: 0 auto;
    max-width: 1010px;
    background-color: #fff;
    padding-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.offline {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab {
    margin: 0 auto;
}